# ignore peripheral STK scenario files
*.sa
*.sa3
*.sca
*.sc3
*.sn
*.sn3
*.t
*.t3
*.wsp
*.wsptb
*.xml
*.sc

# ignore compile python scripts
*.pyc

# ignore data files
*.csv
*.txt
*.zip

/**/.DS_Store
/**/.idea/
*.sublime-workspace
*.sublime-project
